@mixin shadow-4dp() {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15), 0 0 8px rgba(0, 0, 0, .04);
}

$reaction-icon-size: 40px;
$reaction-icon-min-scale: 0.8;
$reaction-list-height: $reaction-icon-size * $reaction-icon-min-scale;

.user-reactions {
  position: relative;
  z-index: 10;
  &__list {
    height: $reaction-icon-size * $reaction-icon-min-scale;
    @include shadow-4dp();
    position: absolute;
    right: -20px;
    top: 10px;
    z-index: 100;
    background: #ffffff;
    list-style: none;
    padding: 3px;
    white-space: nowrap;
    line-height: 0;
    user-select: none;
    border-radius: $reaction-list-height / 2 + 2px;
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 10px 0;
      left: 0;
      top: -10px;
      z-index: -1;
    }

  }
  &__icon {
    display: inline-block;
    width: $reaction-icon-size;
    height: $reaction-icon-size;
    bottom: (1 - $reaction-icon-min-scale) * $reaction-icon-size;
    margin: 0 0 7px 0;
    cursor: pointer;
    position: relative;
    transform: scale3d($reaction-icon-min-scale, $reaction-icon-min-scale, $reaction-icon-min-scale);
    -ms-transform: scale($reaction-icon-min-scale);
    transform-origin: bottom;
    background-color: white;
    border-radius: 50%;
    @media (max-width: 380px) {
      &:first-child {
        .title {
          left: 0;
          transform: none !important;
        }
      }
      &:last-child {
        .title {
          right: 0;
          left: auto;
          transform: none !important;
        }
      }
    }
    &-status {
      width: 21px !important;
      height: 21px !important;
      margin: 0 !important;
      bottom: 3px !important;
      float: left;
    }
    &.selected {
      transform: scale3d(1, 1, 1);
      -ms-transform: scale(1);
      .title {
        display: block;
      }
    }

    .title {
      position: absolute;
      top: -24px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      background-color: rgba(0, 0, 0, 0.7);
      color: #ffffff;
      font-size: 12px;
      line-height: 20px;
      border-radius: 10px;
      padding: 0 5px;
      display: none;

    }

    &.smile1 {
      background-image: url("../images/emotions-icons/smile1.svg");
    }
    &.smile2 {
      background-image: url("../images/emotions-icons/smile2.svg");
    }
    &.smile3 {
      background-image: url("../images/emotions-icons/smile3.svg");
    }
    &.smile4 {
      background-image: url("../images/emotions-icons/smile4.svg");
    }
    &.smile5 {
      background-image: url("../images/emotions-icons/smile5.svg");
    }
    &.smile6 {
      background-image: url("../images/emotions-icons/smile6.svg");
    }
    &.smile7 {
      background-image: url("../images/emotions-icons/smile7.svg");
    }
  }
}
